@model List<Deploy.Models.Project.ProjectModel>
@{
    ViewBag.Title = "Home Page";
}
<p>
    @Html.ActionLink("Create", "Create")
</p>
@foreach(var project in Model)
{
    <div class="projectItem">
        <div class="value">@project.Name</div>
        <div class="value">@project.ProcedureType</div>
        <div class="value">@Html.ActionLink("Rediger", "Edit", new { project.Id })</div>
        <div class="value">@Html.ActionLink("Fjern", "Delete", new { project.Id })</div>
    </div>
}