@model Deploy.Commander.Models.Projects.ProjectWithBuildsModel
@{
    ViewBag.Title = "Home Page";
}
<table class="project">
    <tr>
        <th colspan="2">@Html.ActionLink(Model.Project.Name, "Edit", new { Model.Project.Id })</th>
    </tr>
    <tr>
        <td width="100">Procedure type</td>
        <td>@Model.Project.ProcedureName</td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%">
                <tr>
                    <th>Argument</th>
                    <th>Value</th>
                    <th></th>
                </tr>
                @foreach(var argument in Model.Project.Arguments)
                {
                    <tr>
                        <td>@Html.ActionLink(argument.Name, "Edit", "Arguments", new { projectId = Model.Project.Id, argumentName = argument.Name }, null)</td>
                        <td>@argument.Value</td>
                        <td>@Html.ActionLink("del", "Delete", "Arguments", new { projectId = Model.Project.Id, argumentName = argument.Name }, null)</td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Add argument", "Create", "Arguments", new { projectId = Model.Project.Id }, null)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%">
                <tr>
                    <th>Build</th>
                    <th>Id</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                @if (Model.Error != null)
                {
                    <tr>
                        <td colspan="3">@Model.Error</td>
                    </tr>
                }
                @foreach(var build in Model.Builds.Take(4))
                {
                    <tr>
                        <td>@Html.ActionLink("#" + @build.Number, "Index", "Builds", new { projectId = Model.Project.Id, buildId = build.Id }, null)</td>
                        <td>@build.Id</td>
                        <td>@build.StartDate</td>
                        <td>
                            @Html.ActionLink("Generate arguments", "GenerateArgumentsFromBuild", "Arguments", new { projectId = Model.Project.Id, buildId = build.Id }, null)
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>