@model List<Deploy.King.Host.Models.Project.ListModel>
@{
    ViewBag.Title = "Home Page";
}
<p>
    @Html.ActionLink("Create", "Create")
</p>
@foreach(var project in Model)
{
    <table class="project">
        <tr>
            <th colspan="2">@Html.ActionLink(project.Name, "Open", new { project.Id })</th>
        </tr>
        <tr>
            <td width="100">Procedure type</td>
            <td>@project.ProcedureType</td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%">
                    <tr>
                        <th>Build</th>
                        <th>Id</th>
                        <th>Date</th>
                    </tr>
                    @foreach(var build in project.Builds.Take(4))
                    {
                        <tr>
                            <td>@Html.ActionLink("#" + @build.Number, "Index", "Build", new { projectId = project.Id, buildId = build.Id }, null)</td>
                            <td>@build.Id</td>
                            <td>@build.StartDate</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
}
    